<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio de María Eugenia Toledo; recopilación de mis trabajos y presentaciones que he realizado.">
    <meta name="keywords" content="web developer, responsive design, website, html, css, github, photoshop, illustrator, frontend, full stack, programación">
    <link rel="shortcut icon" href="../img/corazon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" type="text/css">     
    <title>Próximamente</title>
</head>
<body class="body__asap">
    <main class="main__asap">
        <h1>Próximamente</h1>
        <figure>
            <img src="../img/undraw_building_blocks_re_5ahy.svg" alt="sitio en construcción">
        </figure>
        <article class="btn__home">
            <a href="../index.html">Volver al Inicio</a>
        </article>
    </main>
</body>